* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Poppins", sans-serif;
}

main {
    width: 80%;
    margin: 0 auto;
    padding-top: 100px;
}

.box-title h1 {
    font-size: 1.6rem;
}
.box-title{
    display: 	flex;
    justify-content: space-between;
    align-items: center;
}
.box-title--btns{
    display: flex;
}
.box-title--btn{
    display: flex;
    align-items: center;
    margin-left: 30px;
}
.box-title--btn a{
    margin-left: 6px;
    font-size: 1rem;
    color:#222
}
.gallery{
    display: grid;
    grid-template-rows: 180px 180px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 30px;
    gap: 10px;
}
.gallery div{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery img{
    width: 100%;
    height: 100%;
}
.gallery .img1{
    grid-row: 1 / 3;
    grid-column: 1/3;
}
.gallery .img1 img{
    border-top-left-radius: 5px;
}